body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

div {
    display: block;
}

#page-outer {
    height: 100%;
}

body {
    background-image: url("../img/bg.png");
    background-position: left 40px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #faf8cc;
    line-height: 10px;
}
.navbar-brand{
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
}

#slogan {
    color: red;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    bottom: -7px;
    padding-left: 45px;
}

.page-container {
    margin: 0 auto;
    min-height: 0;
    width: 890px;
}

.user-container {
    background-color: #065576;
    color: #f2d902;
    position: relative;
    float: left;
    width: 290px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 0;
    line-height: 16px;
    height: 400px;
    text-align: center;

}

.feed-container {
    box-shadow: 10px 10px 5px #fd060c;
    background-color: #fff;
    opacity: .6;
    float: right;
    width: 590px;
    border-radius: 6px;
    overflow: hidden;
    font-size: 22px;
}

.feed-heading {
    font-size: 30px;
}

.feed {

}

